* {
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app {
  text-align: center;
}
.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}
.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.app-intro {
  font-size: large;
}
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.issues .issues-list {
  padding: 10px 20px;
  max-width: 800px;
  box-sizing: content-box;
  margin: 20px auto;
  list-style-type: none;
  text-align: left;
}
.issues .issues-list .single-issue {
  background-color: lightgray;
  margin: 5px 0 15px;
  width: 100%;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  position: relative;
}
.issues .issues-list .single-issue .status-container {
  text-align: right;
}
.issues .issues-list .single-issue .status-container .status {
  border: none;
  margin-top: 10px;
  padding: 5px;
}
.issues .issues-list .single-issue .status-container .status:hover {
  cursor: pointer;
}
.issues .issues-list .single-issue .issue-panel {
  display: flex;
  margin-bottom: 5px;
}
.issues .issues-list .single-issue .issue-panel .issue-date {
  font-weight: bold;
  flex: 1 0 auto;
}
.issues .issues-list .single-issue .issue-panel .issue-btns {
  flex: 0 0 auto;
}
.issues .issues-list .single-issue .issue-panel .issue-btns .issue-btn {
  background-color: transparent;
  border: 0;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}
.issues .issues-list .single-issue .issue-panel .issue-btns .edit-issue {
  color: blue;
}
.issues .issues-list .single-issue .issue-panel .issue-btns .delete-issue {
  color: red;
  margin-top: -2px;
}
.issues .issues-list .single-issue .bottom-hover-strip {
  height: 2px;
  position: absolute;
  background-color: #ccc;
  width: 0px;
  left: 50%;
  bottom: -2px;
  transition: 1.5s;
}
.issues .issues-list .single-issue:hover .bottom-hover-strip {
  background-color: #00ff3c;
  width: 800px;
  left: 0;
}
.issues .issues-list .pending {
  background-color: #2d6289;
}
.issues .issues-list .closed {
  background-color: #2ea068;
}
.add-issue .add-issue-form-container .form {
  max-width: 800px;
  margin: 10px auto;
  padding: 0 20px;
}
.add-issue .add-issue-form-container .form .field {
  display: block;
  border: 2px solid #ccc;
  margin-bottom: 10px;
  padding: 2px 4px;
  box-sizing: border-box;
}
.add-issue .add-issue-form-container .form .field:active,
.add-issue .add-issue-form-container .form .field:focus {
  outline-color: #00ff3c;
  border-color: #00ff3c;
}
.add-issue .add-issue-form-container .form .issue-title {
  width: 100%;
}
.add-issue .add-issue-form-container .form textarea {
  width: 100%;
  height: 70px;
  resize: none;
}
.add-issue .add-issue-form-container .form .add-issue-btn {
  border: 2px solid #ccc;
  width: 100%;
  height: 30px;
  background-color: transparent;
}
.add-issue .add-issue-form-container .form .add-issue-btn:hover {
  border-color: #00ff3c;
  cursor: pointer;
}
.edit-issue-container {
  text-align: left;
}
.edit-issue-container .issue-textarea {
  width: 100%;
  border: 2px solid #ccc;
  height: 56px;
}
.edit-issue-container .btn-update-issue {
  width: 200px;
  border: 2px solid #ccc;
  height: 25px;
  text-align: center;
  background-color: #fff;
  margin-left: auto;
  cursor: pointer;
}
.edit-issue-container .issue-textarea:focus,
.edit-issue-container .btn-update-issue:hover {
  border-color: #00ff3c;
  outline: none;
}
