*{
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@base-color1: #00ff3c;
@base-color2: #ccc;
@normal-issue-color: lightgray;
@pending-issue-color: #2d6289;
@closed-issue-color: #2ea068;

// Issues component styles
.issues{

  .issues-list{
    padding: 10px 20px;
    max-width: 800px;
    box-sizing: content-box;
    margin: 20px auto;
    list-style-type: none;
    text-align: left;

    .single-issue{
      background-color: @normal-issue-color;
      margin: 5px 0 15px;
      width: 100%;
      border-bottom: 2px solid @base-color2;
      padding: 10px;
      position: relative;

      .status-container {
        text-align: right;
        .status {
          border: none;
          margin-top: 10px;
          padding: 5px;
          &:hover {
            cursor: pointer;
          }
        }
      }

      .issue-panel{
        display: flex;
        margin-bottom: 5px;

        .issue-date{
          font-weight: bold;
          flex: 1 0 auto;
        }

        .issue-btns{
          flex: 0 0 auto;

          .issue-btn{
            background-color: transparent;
            border: 0;
            font-size: 14px;
            line-height: 18px;
            cursor: pointer;
          }

          .edit-issue{
            color: blue;
          }

          .delete-issue{
            color: red;
            margin-top: -2px;
          }
        }
      }

      .issue-text{

      }

      .bottom-hover-strip{
        height: 2px;
        position: absolute;
        background-color: @base-color2;
        width: 0px;
        left: 50%;
        bottom: -2px;
        transition: 1.5s;
      }

      &:hover {
        .bottom-hover-strip{
          background-color: @base-color1;
          width: 800px;
          left: 0;
        }
      }
    }

    .pending {
        background-color: @pending-issue-color;
    }

    .closed {
        background-color: @closed-issue-color;
    }
  }
}

//AddIssue component styles
.add-issue{

  .add-issue-header{

  }

  .add-issue-form-container{

    .form{
      max-width: 800px;
      margin: 10px auto;
      padding: 0 20px;

      .field{
        display: block;
        border: 2px solid @base-color2;
        margin-bottom: 10px;
        padding: 2px 4px;
        box-sizing: border-box;
      }

      .field:active, .field:focus{
        outline-color: @base-color1;
        border-color: @base-color1;
      }

      .issue-title {
          width: 100%;
      }

      textarea{
        width: 100%;
        height: 70px;
        resize: none;
      }

      .add-issue-btn{
        border: 2px solid @base-color2;
        width: 100%;
        height: 30px;

        background-color: transparent;
      }

      .add-issue-btn:hover{
        border-color: @base-color1;
        cursor: pointer;
      }
    }
  }

}

.edit-issue-container{
  text-align: left;

  .issue-textarea{
    width: 100%;
    border: 2px solid @base-color2;
    height: 56px;
  }

  .btn-update-issue{
    width: 200px;
    border: 2px solid @base-color2;
    height: 25px;
    text-align: center;
    background-color: #fff;
    margin-left: auto;
    cursor: pointer;
  }

  .issue-textarea:focus, .btn-update-issue:hover{
    border-color: @base-color1;
    outline: none;
  }

}

